In [87]:
import pandas as pd
import numpy as np

In [88]:
aa = np.random.randint(10000,1000000,3)

In [89]:
aa

array([ 22785, 342219, 394606])

In [90]:
data = {'國家': ['Taiwan','USA','Africa'],
        '人口': np.random.randint(10000,1000000,3)} #隨機數值np.random.randint(min,max,size)
#'人口': np.random.randint(10000,1000000,3)，此不須中括號因為產生的即為arry型態
data = pd.DataFrame(data)

In [91]:
data

       國家      人口
0  Taiwan  918795
1     USA  937592
2  Africa  879136

In [92]:
a=data['人口'].max(0)

In [93]:
a

937592

In [98]:
data.loc[data['人口'].idxmax()]#df.loc[df['Value'].idxmax()]

國家       USA
人口    937592
Name: 1, dtype: object

In [119]:
data['國家'].iloc[data['人口'].idxmax()] #idxmax找最大值位址，iloc索引位址

'USA'